.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.home {
  max-width: 512px;
  background-color: #fff;
  padding: 24px;
  width: 100%;
}
